#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 20;
}

#status
{
    position: absolute;
    left: 0px;
    top: 520px;
    z-index: 20;
}