#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 20;
}

#mission
{
    position: absolute;
    left: 0px;
    top: 510px;
    z-index: 20;
}
#status
{
    position: absolute;
    left: 512px;
    top: 0px;
    z-index: 20;
}